.span6.offset3
	h4.error There is an error in your New Threat
	div.threatForm.control-group
		form
			fieldset
				label Title <span>(Optional)</span>
				input.span6(type="text")
				div.control-group.error
					label.control-label(for="inputError") You must add IP addresses or Domain Names
					textarea.span6.error(rows="6", cols="75", placeholder="") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				label Describe your Threat <span>(Optional)</span>
				textarea.span6(rows="6", cols="75", placeholder="") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
		div.formActions
			a.btn(href="/threats") Cancel
			a.btn.btn-primary(href="/threats/empty") Submit Threat