.container
	.row
		.span12
			h1.logo.pull-left
				a(href="/")
					span Razor - Irma
			ul#secondary-nav.nav.pull-right
				li.pull-left
					form.navbar-search
						input(type="text", class="search-query", placeholder="Search")
				li.dropdown.userdrop.pull-left
					a(href="#", class="dropdown-toggle btn", data-toggle="dropdown") Username
						b.caret
					ul.dropdown-menu
						li
							a(href="#") Collectors
						li
							a(href="/threats") Threats
						li
							a(href="#") Settings
						li
							a(href="#") Help
						li.divider
						li
							a(href="#") Sign Out
				

			
						