- for (x=0;x<=8;x++)
	div.threatWrapper.clearfix.active
		ul.threatCount.pull-left
			li
				div.threatAvatar Rapid 7
		ul.threatMeta.pull-left
			li.threatTitle 
				a(href="/threats/details") www.example.com
			li.threatDescription Currently tracking <span class="trackedThreat">www.example.com</span>, <span class="trackedThreat">192.0.43.10</span>, <span class="trackedThreat">www.733tsp34k.ru</span> and <a href="/threats/details"> 4 others</a>.
			li.threatDate Created on may 14th, 2013
		ul.threatAction.pull-right
			li.threatTracker
				button.btn.btn-info.trackerButton
					span Tracking
					span Track
