extends layouts/default

block content

	div.container
				
		.row
			.span12
				h2=title

		.row
			.span12
				img(src="/images/irma.png")
			
		.row
			.span12
				span You have broken the Internet.

