extends layouts/default


block content
	.container
		.row
			.span12.pull-left
				div.threatsNav.clearfix
					h2.pull-left Threats
					div.pull-right
						a.btn(href="/threats/new", role="button") New Threat
					//- include includes/_threatModal

		.row
			.span12

				div.threatWrapper.clearfix.active.saved
					ul.threatCount.pull-left
						li
							div.threatCountNumeral 303
							div.threatCountLabel Incidents
					ul.threatMeta.pull-left
						li.threatTitle 
							a(href="/threats/details") www.example.com
						li.threatDescription Currently tracking <span class="trackedThreat">www.example.com</span>, <span class="trackedThreat">192.0.43.10</span>, <span class="trackedThreat">www.733tsp34k.ru</span> and <a href="/threats/details"> 4 others</a>.
						li.threatDate Created on may 14th, 2013
					ul.threatAction.pull-right
						li.threatTracker
							button.btn.btn-info.trackerButton
								span Tracking
								span Track

				include includes/_threats


block document
	script
		$(function(){
			$('.trackerButton span:nth-child(2)').hide();
			$('.span12 div.threatWrapper').last().css({'border-bottom':'1px solid #dfdfdf'});
			$('.trackerButton').click(function(){
				$(this).toggleClass('btn-info');
				$(this).children().toggle();
				$(this).parents().toggleClass("active");
				$(this).parents().removeClass("saved");
			});
		});