extends layouts/default


block content
	.container
		.row
			.span12.pull-left
				div.threatsNav.clearfix
					h2.pull-left 
						a(href="/threats") Threats

		.row
			include includes/_confirmThreat